html {
    color-scheme: light dark;
}
body {
    background-color: rgb(29, 30, 32);
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    padding: 20px;
}
.txt {
    display: inline-block;
    font-weight: var(--n-font-weight);
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000;
    white-space: nowrap;
    background-image: linear-gradient(
            var(--n-rotate),
            var(--n-color-start) 0%,
            var(--n-color-end) 100%
    );
    transition: --n-color-start 0.3s var(--n-bezier),
    --n-color-end 0.3s var(--n-bezier);
    --n-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --n-rotate: 252deg;
    --n-color-start: #70c0e8;
    --n-color-end: rgb(56, 137, 197);
    --n-font-weight: 500;
}
a {
text-decoration: none;
color: inherit;
}

a:hover, a:focus, a:active {
color: inherit;
}